################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureAISearchSynonymMap/AzureAISearchSynonymMap.csproj
/ConsoleApp1/bin/Debug/net7.0
/ConsoleApp1/obj
/AzureAISearchSynonymMap/.vs/AzureAISearchSynonymMap
